<footer>
  <div class="footer__connect">
    <h4>{{ i18n "stay_connected" }}</h4>
    <div class="footer__connect-links">
      <a href="mailto:hello@juliasolorzano.com?subject=Hello, Julia!">Email</a>
      <a href="https://www.linkedin.com/in/juliasolorzano" title="LinkedIn" target="_blank" rel="noopener">LinkedIn</a>
      <a href="https://github.com/juliasolorzano" title="GitHub" target="_blank" rel="noopener">GitHub</a>
      <a href="https://bsky.app/profile/juliasolorzano.bsky.social" title="Bluesky" target="_blank" rel="noopener">Bluesky</a>
      {{ with .OutputFormats.Get "RSS" }}<a href="{{ .Permalink }}" title="RSS Feed" target="_blank" rel="noopener">RSS Feed</a>{{ end }}
    </div>
  </div>
  <p>&copy; {{ now.Year }} Julia Solórzano</p>
</footer>

