{{ $path := .RelPermalink | lower }}
{{ $segments := split $path "/" }}
{{ $section := index $segments 1 }}
<a href="javascript:void(0)" class="menu-btn">
  <span class="sr-only">MENU</span>
</a>
<nav role="navigation" aria-label="Main Navigation" class="menu">
  <ul>
    <li>
      {{ if eq $section "about" }}
        About
      {{ else }}
        <a href="/about/">About</a>
      {{ end }}
    </li>
    <li>
      {{ if eq $section "writing" }}
        Writing
      {{ else }}
        <a href="/writing/">Writing</a>
      {{ end }}
    </li>
    <li>
      {{ if eq $section "speaking" }}
        Speaking
      {{ else }}
        <a href="/speaking/">Speaking</a>
      {{ end }}
    </li>
    <li>
      {{ if eq $section "work" }}
        Work
      {{ else }}
        <a href="/work/">Work</a>
      {{ end }}
    </li>
    <li>
      <a href="https://docs.google.com/document/d/1qf6PDBRS8STxeKlzEu8LtncPis1WLH6tEAjTLI4-s_o/edit">
        CV
      </a>
    </li>
    <li><a href="mailto:hello@juliasolorzano.com?subject=Hello, Julia!">Contact</a></li>
  </ul>
</nav>
